@media only screen and (min-width: 650px) {
    /* posts */
    article {
        display: flex;
    }
    .image-part {
        flex: 1;
        overflow: hidden;
        margin-bottom: 0;
    }
    .image-part img {
        transition: transform 3.5s ease-in-out;
    }
    .image-part img:hover {
        transform: scale(1.5,1.5);
    }
    .content-part {
        flex: 1;
        padding-left: 50px;
    }

    /* footer */
    .footer-social-links a {
        margin: 0 28px;
    }
    .footer-social-links i {
        margin-right: 5px;
    }
    .footer-social-links a span {
        display: inline;
        font-size: 11px;
    }
}