// ASSIGNMENT #3 TAMIRES

// FOR NOWWWWW ????????????????????????????????????????????????????????????????????????????????????????????????????????????????????
.menu-item-has-children li {
    display: none;
}



// CREATING THE TAGS
$font: (
    font-family: 'Quando',
    font-size: 15px,
    color: #787878
);

$fontH1: 37px;
$fontH2: 31px;
$fontH3: 26px;
$fontH4: 21px;
$fontH5: 18px;
$fontH6: 15px;

@mixin centerStyle {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin titleFont {
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 600;

    // why it didnt work?
    text-decoration: none;
}
@mixin fontStyle {
    margin-top: 25px;
    margin-bottom: 20px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    line-height: 1.3em;
    word-wrap: break-word;
    color: #111111;
}
@mixin pictureStyle {
    object-fit: contain;
    max-width: 100%;
    height: auto;
}


// CODE PART 
body {
    font-family: map-get($font, font-family);
    font-size: map-get($font, font-size);
    color: map-get($font, color);
    @include fontStyle;
}
header {
    @include titleFont;
    @include centerStyle;
    padding: 50px 0;
}
header div {
    display: flex;
    flex-direction: column;
    gap: 50px
}
header nav ul {
    @include centerStyle;
    gap: 20px;
}
img {
    @include pictureStyle;
}

